html, body{
  background-color: ghostwhite;
}

#banner {
  background-image: url("../imgs/cropped-2013-11-14-23.32.53-1.jpg");
  background-size: cover;
  background-position: center;
  color: #988;
  font-size: 2rem;
  text-align: center;
  font-family: cursive; /* NEI! Fy! */
  margin: auto;
}

#info {
  background-color: rgb(28,28,28);
  text-align:  left;
  font-weight: bold;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 250px; */
  width: 100%;
  position: relative;
  margin-top: -30px;
  flex-direction: column;
  padding: 30px 0;
  /* max-width: 700px; */
}
#info span, #info, #info h1 {
  color: white !important;
}
#info h1 {
  margin-top: 0;
}
#info-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 45px;
}

#button, #row-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

#rad {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2px;
  max-width: 900px;
}

#rad .image {
  margin-top: 4px;
  width: calc(50% - 10px);
  position: relative;
  padding: 5px;
}
#rad .image img {
  max-width: 100%;
}


.parti-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
#participants {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
}
.person {
  display: flex;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 220px;
}
.person > .left {
  margin-right: 10px;
}
.person > .left > .profile {
  width: 80px;
  border-radius: 100%;
}
.person > .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
}
.person > .right > .age {
  font-size: 14px;
}

#title {
  text-align: center;
}

#desc {
  font-size: 17px;
  max-width: 700px;
  min-width: 400px;
  display: block;
  border: 1px solid rgba(0,0,0,0.2);
  padding: 20px;
  text-align: center;
}
#desc-wrapper {
  display: flex;
  justify-content: center;
}


#top-img {
  margin-bottom: 10px;
  width: 100%;
}

#comment-section {
}

#comment-box {
  height: 90px;
}

#language {
  color: black;
  text-decoration: none;
}

#acc-control {
  color: blue;
}
