html, body {
  background-color: ghostwhite;
}

h1,h2,h3 {
  text-align: center;
}

#banner {
  background-image: url("../imgs/cropped-2013-11-14-23.32.53-1.jpg");
  background-size: cover;
  background-position: center;
  color: #988;
  font-size: 2rem;
  text-align: center;
  font-family: cursive; /* NEI! Fy! */
  margin: auto;
}

#info {
  min-height: 70px;
  text-align:  left;
  font-weight: bold;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  flex-direction: column;
  padding: 20px 0;
}
#info span, #info, #info h1 {
  font-family: var(--font-text)
}
#info h1 {
  margin: 0;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 5px;
}
#info-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: -4px;
  background-color: var(--purple-light);
  position: relative;
}

#button, #row-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

#rad {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2px;
  max-width: 900px;
}

#rad .image {
  margin-top: 4px;
  width: calc(50% - 10px);
  position: relative;
  padding: 5px;
}
#rad .image img {
  max-width: 100%;
}


.parti-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
#participants {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
}

#title {
  text-align: center;
}

#desc {
  font-size: 17px;
  /* max-width: 700px; */
  min-width: 400px;
  display: block;
  /* border: 1px solid rgba(0,0,0,0.2); */
}
#desc-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-family: var(--font-text);
  padding: 20px;
}
#desc-wrapper > h2 {
  font-weight: 500;
  font-size: 25px;
}


#top-img {
  margin-top: 15px;
  width: 100%;
}

#language {
  color: black;
  text-decoration: none;
}

#acc-control {
  color: blue;
}

.star-eve
{
  display: inline;
  height: 2em;
}


.person {
  flex-direction: column;
  text-align: center;
  width: unset;
  padding: 0 15px;
}
.person-cont {
  justify-content: center;
}
.person > .left {
  padding: 0;
  margin: 0;
}

.spacer-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.spacer {
  width: 65%;
  height: 1px;
  background: rgba(0,0,0,0.8);
  margin-top: 60px;
  margin-bottom: 20px;
}

h2 {
  font-size: 35px;
}

#comment-entry {
  margin-top: 60px;
  text-align: center;
}
#comment-section {
  margin-top: 60px;
}

.comment {
  border: 2px solid var(--purple-dark);
  padding: 15px;
}
.comment:not(:last-child) {
  margin-bottom: 15px;
}





.icon-control {
  text-decoration: none;
  color: black;
  height: 28px;
  display: inline-block;
  padding: 3px 0;
}

.icon-control > span {
  margin-right: 10px;
  vertical-align: middle;
  font-size: 13px;
  display: inline-block;
  min-width: 100px;
  text-align: right;
}

.icon-control > img {
  height: 100%;
  vertical-align: middle;
}

.controls {
  right: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

#flavor-text {
  color: #222 !important;
  font-weight: 500;
  font-size: 16px;
}


.comment-author {
  font-size: 17px;
  font-weight: bold;
  display: block;
}
