p { margin: 0; }

main {
  display: flex;
  flex-direction: column;
}
main .split {
  flex: 1;
  display: flex;
}

main .split .left {
  width: 300px;
}

#chat-view {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--purple-light);
  border-left: none;
}

#chat {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}
#chat::-webkit-scrollbar {
  display: none;
}

#chat-input > input {
  width: 100%;
  display: table-cell;
}

.tab:not(.active) { display: none; }

.tab {
}
.tab > a {
  display: block;
  text-decoration: none;
}

#chat-btn {
  display: none !important;
}

.chat-button {
  color: white;
  font-size: 12px;
  font-weight: bold;
  font-family: var(--font-gui);
  background: #333;
  text-align: center;
  padding: 11px 10px;
  text-decoration: none;
  border: 1px solid #000;
  flex: 1;
  display: block;
}

.chat-button:hover {
  /* background: linear-gradient(45deg, var(--colorA), var(--colorB)); */
}

.chat-button.active {
  background: var(--purple-light);
  color: black;
  border: 1px solid var(--purple-dark);
}

.tab-buttons {
  display: flex;
}

.tab-pages {
  min-height: 500px;
  border: 2px solid var(--purple-light);
  border-top: none;
}

#chat-title {
  margin: 0;
  padding: 10px 7px;
}

#chat-input {
  border: 2px solid var(--purple-dark);
  margin: 10px;
  display: flex;
  padding: 6px;
}

#chat-input > button {
  background: #333;
  color: white;
  border: none; outline: none;
  padding: 2px 15px;
  font-family: var(--font-gui);
  font-weight: bold;
  font-size: 13px;
}

#chat-input > input {
  border: none;
  outline: none;
  padding-left: 5px;
}

.tab .contact:hover {
  background: rgba(0,0,0,0.1);
}
.contact {
  padding: 10px;
}
.contact > * {
  vertical-align: middle;
}
.contact img {
  height: 50px;
  border-radius: 100%;
  margin-right: 10px;
  border: 1px solid rgba(0,0,0,0.7);
}
.contact span {
  color: black;
  font-size: 19px;
}

#chat-wrapper {
  flex: 1;
  height: 0;
  position: relative;
}
#chat {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  min-height: 100%;
}
.message {
  display: flex;
  margin-bottom: 10px;
  position: relative;
  --arr-size: 15px;
}
.message.mine {
  flex-direction: row-reverse;
}
.msg-pic {
  height: 50px;
  border-radius: 100%;
  border: 1px solid rgba(0,0,0,0.7);
}
.message .left {
  width: unset !important;
}
.message .right .content {
  border-radius: 15px;
  border: 4px solid var(--purple-dark);
  position: relative;
  padding: 10px;
  width: 50%;
}
.message.not-mine .right .content { margin-left: 20px; }
.message.mine .right .content { margin-right: 20px; }
.message.mine .right .content {
  align-self: flex-end;
}

.message.not-mine .right .content::before {
  content: '';
  width: 0; 
  height: 0; 
  border-top: var(--arr-size) solid transparent;
  border-bottom: var(--arr-size) solid transparent;
  border-right: var(--arr-size) solid var(--purple-dark);
  position: absolute;
  left: calc(0px - var(--arr-size));
  top: 50%;
  transform: translateY(-50%);
}
.message.not-mine .right .content::after {
  content: '';
  width: 0;
  height: 0;
  border-top: var(--arr-size) solid transparent;
  border-bottom: var(--arr-size) solid transparent;
  border-right: var(--arr-size) solid white;
  position: absolute;
  left: calc(6px - var(--arr-size));
  top: 50%;
  transform: translateY(-50%);
}

.message.mine .right .content::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: var(--arr-size) solid transparent;
  border-bottom: var(--arr-size) solid transparent;
  border-left: var(--arr-size) solid var(--purple-dark);
  right: calc(0px - var(--arr-size));
}
.message.mine .right .content::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: var(--arr-size) solid transparent;
  border-bottom: var(--arr-size) solid transparent;
  border-left: var(--arr-size) solid white;
  right: calc(6px - var(--arr-size));
}

.message .left, .message .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.message .right { flex: 1; }
