
.event {
  --space: 20px;
  background: var(--purple-light);
  padding: 10px;
  display: flex;
  text-decoration: none;
  color: black;
  font-family: var(--font-text);
  cursor: pointer;
}
.event .title {
  font-size: 36px;
  font-weight: 500;
}
.event .info {
  font-size: 21px;
  font-weight: 500;
  text-shadow: 0 0 1px rgba(0,0,0,0.4);
}
.event .text {
  font-size: 19px;
  font-weight: 500;
}

.event {
  margin-bottom: var(--space);
  position: relative;
}
.event:not(:first-child)::before {
  content: '';
  background: rgba(0,0,0,0.1);
  height: 1px;
  width: 100%;
  position: absolute;
  top: calc(var(--space) * -0.5);
  left: 0;
}

.event > .left > .profile {
  width: calc(100px * 1.36);
  height: 100px;
  margin-right: 20px;
}
.event > .left {
}
.event > .right > .left > * {
  margin: 0;
}
.event > .right {
  display: flex;
  width: 100%;
}
.event > .right > .left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.event > .right > .right > * {
  margin: 0;
  text-align: right;
}
.event > .right > .right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-right: 5px;
}

.wrapper {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.wrapper > .center-wrapper {
  /* max-width: 900px; */
  width: 100%;
}

.hidden { display: none; }

.mk-eve-button > span {
  display: inline-block;
  transform: translateY(50%);
}
.new-eve
{
  display: inline;
  height:  0.85em;
  margin-left: 10px;
  vertical-align: middle;
  transform: translateY(calc(50% + 0.15em));
}
.mk-eve-button {
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-family: var(--font-gui);
  background: rgb(28,28,28);
  text-align: center;
  padding: 0 25px;
  text-decoration: none;
  display: inline-block;
  position: relative;
  margin-left: 20px;
}
.mk-eve-button:hover, .mk-eve-button:focus {
  background: var(--purple-dark);
}

select option{
  background-color: black;
  color: white;
  border-radius: 3px;
  text-transform: capitalize;
}


h1 {
  display: inline-block;
}
#toolbar {
  display: inline-flex;
  flex: 1;
  padding-left: 30px;
}
#toolbar #tb-search {
  font-size: 16px;
  padding: 0 10px;
  outline: none;
  border: 1px solid #333;
  width: calc(100% - 20px);
  height: 95%;
}
#toolbar #tb-search:focus {
  border-color: var(--purple-dark);
  box-shadow: 0 0 2px var(--purple-dark);
}
#toolbar .search-wrapper {
  flex: 1;
  position: relative;
}
#toolbar #tb-icon {
  position: absolute;
  top:0;
  right:0;
  height: 100%;
  pointer-events: none;
  transform: scale(0.65);
}

h1, #toolbar {
  vertical-align: middle;
  margin: 0;
}

#title-wrap {
  display: flex;
  justify-content: space-between;
  margin: 25px 0;
  margin-bottom: 20px;
}

#tag-options {
  border-radius: 0 !important;
  outline: none;
  border:  none;
  padding: 0 10px;
}


#tabs {
  margin-bottom: 20px;
}

#tabs .tab-button {
  border: none; outline: none;
  background: #333;
  color: white;
  /* font: var(--font-gui); */
  font-weight: bold;
  padding: 8px 6px;
  font-size: 13px;
  display: inline;
  cursor: pointer;
}

#tabs .tab-button.active {
  background: var(--purple-light);
  color: black;
}
#tabs .tab-button:not(.active):hover {
  background: var(--purple-dark);
}

img.no-image { position: relative; }
img.no-image::after {
  content: '';
  position: absolute;
  background: var(--purple-dark);
  left: 0; right: 0; top: 0; bottom: 0;
}
