#toolbar {
  margin-bottom: 10px;
  display: flex;
}
#toolbar > #tb-search {
  flex: 1;
}

.event {
  border: 1px solid rgba(0,0,0,0.3);
  background: rgba(0,0,0,0.07);
  padding: 5px;
  display: flex;
  text-decoration: none;
  color: black;
}
.event {
  margin-bottom: 5px;
}

.event > .left > .profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.event > .left {
}
.event > .right > .left > * {
  margin: 0;
}
.event > .right {
  display: flex;
  width: 100%;
}
.event > .right > .left {
  flex: 1;
}
.event > .right > .right > * {
  margin: 0;
  text-align: right;
}
.event > .right > .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.wrapper > .center-wrapper {
  max-width: 900px;
  width: 100%;
}

.hidden { display: none; }
