  td { position: relative; }
  #status {
    --rad: 14px;
    width: var(--rad);
    height: var(--rad);
    position: absolute;
    right: 0; bottom: 0;
    border-radius: 100%;
    margin: 4px;
  }
  #status.online {
    background: green;
    box-shadow: 0 0 5px 2px rgba(0,255,0,0.4);
  }
  #status.offline {
    background: red;
    box-shadow: 0 0 5px 2px rgba(255,0,0,0.4);
  }
  #pic { width: 300px; }
  #name
  {
  font-size: 30px; 
  }
  #age
  {
  font-size: 30px; 
  }
  #self-info
  {
    text-indent-left: 50px;
  }
