:root {
  --header-height: 30px;
  --footer-height: 20px;
  --side-panel-width: 150px;
}

body {
  margin: 0;
}

header {
  display: flex;
  margin-bottom: var(--header-space);
  height: var(--header-height);
  background: lightblue;
  padding: 0 5px;
}
header > .left {
  flex: 1;
}
header > .right {
}

body > .split {
  display: flex;
  height: calc(100vh - var(--header-height) - var(--footer-height));
}
body > .split > #side-panel {
  width: var(--side-panel-width);
  background: aqua;
}
body > .split > main {
  flex: 1;
  padding: 20px 15px;
  overflow-y: scroll;
}

footer {
  background: lightblue;
  text-align: center;
  height: var(--footer-height);
  position: relative;
}

#btn-settings
{
  text-decoration: none;
}

.items {
  list-style: none;
  padding: 0;
  margin: 0;
}
.items a {
  text-decoration: none;
  color: black;
}
.items > li:nth-of-type(odd) {
  background: rgba(255,255,255,0.3);
}
.items > li {
  padding: 5px;
}

#menu-settings {
  position: fixed;
  min-width: 300px;
  background: aqua;
  right: 0;
  z-index: 99;
}

.hidden { display: none; }

#chat-btn {
  position: absolute;
  right: 5px;
  text-decoration: none;
}

#chat-bubble {
  position: absolute;
  right: 0;
  top: 0;
  background: ghostwhite;
  padding: 10px;
  width: 300px;
  height: 300px;
  transform: translateY(-100%);
}
