:root {
  --header-height: 55px;
  --footer-height: 20px;
  --side-panel-width: 150px;

  --colorA: rgb(118, 061, 161);
  --colorB: rgb(185, 114, 238);
  --colorC: rgb(209, 148, 255);
}

a {
  color: white;
}

body {
  margin: 0;
}

header {
  display: flex;
  margin-bottom: var(--header-space);
  height: var(--header-height);
  background: white;
  padding: 0 5px;
  color: black;
}
header > .left {
  flex: 1;
}
header > .right {
}
body > .split {
  display: flex;
  height: calc(100vh - var(--header-height) - var(--footer-height));
}
body > .split > #side-panel {
  width: var(--side-panel-width);
  background: var(--colorB);
}
body > .split > main {
  flex: 1;
  padding: 20px 15px;
  overflow-y: scroll;
}

footer {
  background: var(--colorA);
  text-align: center;
  height: var(--footer-height);
  position: relative;
  color: white;
  text-decoration: none;
}

#btn-settings
{
  text-decoration: none;
}

.items {
  list-style: none;
  padding: 0;
  margin: 0;
}
.items a {
  text-decoration: none;
}
.items > li:nth-of-type(odd) {
  /* background: rgba(255,255,255,0.2); */
}
.items > li {
  padding: 5px;
  color: white;
}
.items > li:hover {
  filter: hue-rotate(35deg);
}

#menu-settings {
  position: fixed;
  min-width: 300px;
  background: var(--colorB);
  right: 0;
  z-index: 99;
}

.hidden { display: none; }

#chat-btn {
  position: absolute;
  right: 5px;
  text-decoration: none;
}

#chat-bubble {
  position: absolute;
  right: 0;
  top: 0;
  background: var(--colorA);
  padding: 10px;
  width: 300px;
  height: 300px;
  transform: translateY(-100%);
  background: var(--colorB);
  border-left-style: solid;
  border-left-width: 1px;
  border-top-style: solid;
  border-top-width: 1px;
  border-color: black;
}

#logo {
  height: calc(100% - 6px);
  margin-top: 3px;
 /* filter: invert(1);*/
}

/*#logo:hover {
  mix-blend-mode: soft-light;
}*/

#settings {
  height: calc(100% - 25px);
  margin-top: 3px;
}

#user-icon {
  height: calc(100% - 25px);
  margin-top: 3px;
}

#chat-icon {
  height: calc(100% - 2px);
  margin-bottom: 1px;
}
