:root {
  --header-height: 55px;
  --footer-height: 20px;
  --side-panel-width: 145px;

  --colorA: rgb(118, 061, 161);
  --colorB: rgb(185, 114, 238);
  --colorC: rgb(209, 148, 255);
}

a {
  color: white;
}

body {
  margin: 0;
}

header {
  display: flex;
  margin-bottom: var(--header-space);
  height: var(--header-height);
  background: white;
  padding: 0 5px;
  color: black;
  justify-content: space-between;
}
header > .left {
  /* flex: 1; */
}
header > .right {
}
body > .split {
  display: flex;
  height: calc(100vh - var(--header-height) - var(--footer-height));
}
body > .split > #side-panel {
  width: var(--side-panel-width);
  background: white;
  margin-top: 20px;
}
body > .split > main {
  flex: 1;
  padding: 20px 15px;
  overflow-y: scroll;
}

footer {
  background: var(--colorA);
  text-align: center;
  height: var(--footer-height);
  position: relative;
  color: white;
  text-decoration: none;
}

#btn-settings
{
  text-decoration: none;
}

.items {
  list-style: none;
  padding: 0;
  margin: 0;
}
.items a {
  text-decoration: none;
}
.items > li:nth-of-type(odd) {
  /* background: rgba(255,255,255,0.2); */
}
.items > li {
  padding: 5px;
}

.items > li > a {
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
  background: rgb(28,28,28);
  border-radius: 5px;
  text-align: center;
  display: block;
  padding: 11px 0px;
}
.items > li {
  margin-bottom: 5px;
  margin-left: 10px;
  padding:0;
}
.items > li > a:hover {
  background: linear-gradient(45deg, var(--colorA), var(--colorB));
}
.items > li:nth-child(2) > a:hover {
  background: linear-gradient(60deg, var(--colorA), var(--colorB));
}
.items > li:nth-child(3) > a:hover {
  background: linear-gradient(80deg, var(--colorA), var(--colorB));
}
.items > li:nth-child(4) > a:hover {
  background: linear-gradient(100deg, var(--colorA), var(--colorB));
}

#menu-settings {
  position: fixed;
  min-width: 300px;
  background: var(--colorB);
  right: 0;
  z-index: 99;
}

.hidden { display: none; }

#chat-btn {
  --size: 42px;
  --space: 20px;
  position: absolute;
  right: var(--space);
  text-decoration: none;
  top: calc(var(--size) * -1 - var(--space));
}
#chat-btn > img {
  width: var(--size);
  height: var(--size);
  border-radius: 5px;
}

#chat-bubble {
  position: absolute;
  right: 0;
  top: 0;
  background: var(--colorA);
  padding: 10px;
  width: 300px;
  height: 300px;
  transform: translateY(-100%);
  background: var(--colorB);
  border-left-style: solid;
  border-left-width: 1px;
  border-top-style: solid;
  border-top-width: 1px;
  border-color: black;
}

#logo {
  height: calc(100% - 6px);
  margin-top: 3px;
 /* filter: invert(1);*/
}

/*#logo:hover {
  mix-blend-mode: soft-light;
}*/

#settings {
  height: calc(100% - 25px);
  margin-top: 3px;
}

#user-icon {
  height: calc(100% - 25px);
  margin-top: 3px;
}

#chat-icon {
  height: calc(100% - 2px);
  margin-bottom: 1px;
}

#links {
  text-decoration: none;
}

#main-title {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
}
